AWSIoTPythonSDK==1.4.3
backports.ssl-match-hostname==3.7.0.1
boto3==1.9.81
botocore==1.12.81
certifi==2018.11.29
chardet==3.0.4
docker==3.7.0
docker-pycreds==0.4.0
docutils==0.14
futures==3.2.0
gpiozero==1.4.1
idna==2.8
ipaddress==1.0.22
jmespath==0.9.3
meld3==1.0.2
psutil==5.4.8
python-dateutil==2.7.5
requests==2.21.0
s3transfer==0.1.13
six==1.12.0
supervisor==3.3.5
urllib3==1.24.1
watchtower==0.5.4
websocket-client==0.54.0
