[program:supervisor_sub]
command={{ webapps_dir }}/supervisor_sub.py
    -e {{ aws_iot_endpoint }}
    -r {{ creds_location }}/AmazonRootCA1.pem
    -c {{ creds_location }}/{{ iot_cert }}-certificate.pem.crt
    -k {{ creds_location }}/{{ iot_cert }}-private.pem.key
    -t {{ short_hostname }}/supervisor

directory={{ webapps_dir }}
autostart=true
autorestart=true
stdout_logfile={{ log_file }}
stderr_logfile={{ log_file }}
redirect_stderr=true
exitcodes=0
