[program:kvs_producer]
command=
    /opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/bin/gst-launch-1.0
    -q v4l2src do-timestamp=TRUE device=/dev/video0
    ! videoconvert
    ! video/x-raw,format=I420,width={{ kvs_width }},height={{ kvs_height }},framerate={{ kvs_framerate}}
    ! omxh264enc control-rate=1 target-bitrate={{ kvs_bitrate }} inline-header=FALSE
    ! h264parse
    ! video/x-h264,stream-format=avc,alignment=au,width={{ kvs_width }},height={{ kvs_height }},framerate={{ kvs_framerate}},profile=baseline
    ! kvssink stream-name={{ short_hostname }} frame-timestamp=dts-only access-key={{ aws_access_key_id }} secret-key={{ aws_secret_access_key }} aws-region={{ aws_region }}
environment=
    LD_LIBRARY_PATH="/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/lib",
    PATH="/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/bin:/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",
    GST_PLUGIN_PATH="/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/lib",
    GST_SYSTEM_PLUGIN_PATH="/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build/downloads/local/lib"
directory=/opt/amazon-kinesis-video-streams-producer-sdk-cpp/kinesis-video-native-build
autostart=false
autorestart=true
stdout_logfile=/var/log/iot.log
stderr_logfile=/var/log/iot.log
redirect_stderr=true