[program:timelapse]
command=
    /usr/bin/raspistill -t 0 -tl {{ timelapse_milliseconds }} -dt -o timelapse-{{ short_hostname }}-%%04d.jpg
directory=/tmp
autostart=false
autorestart=true
stdout_logfile=/var/log/iot.log
stderr_logfile=/var/log/iot.log
redirect_stderr=true